.container{
 background-image: url(this.jpg);
 width: 430px;
 height: 100%;
 width: 100%;
}

.img {

 
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin: 0px;
  margin-right: 0px;
  POSITION: absolute;

}

.headerbar{

  background-color: rgba(71, 2, 2, 0.9);
  color: rgb(58, 3, 3);
  height: 15vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  display: grid;
  position: relative;
  align-items: center;
  margin-top: 1%;
}

.headerbar:hover{

  margin-top: 0px;
  background-color: rgba(39, 1, 1, 0.6);
  color: rgb(253, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 480%;
  display:grid;
  position: relative;

  margin-top: 1%;
  ;
} 


#content {

  background-color: aliceblue;
  float: center ;
  width: 50% ;
}
#navbar {
  float: left;
  width: 10%;
}



